<div class="hero">
  <br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h1>Learn anything...From anyone</h1>
    <br />
    <h2>You can be a student and a teacher</h2>
    <br />
    <%= link_to 'Learn more', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br /><br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from a number of courses to study with amazing teachers.</p>
  </div>
  
  <div class="col-12 col-sm">
    <h3>Learn at your own pace!</h3>
    <br />
    <p>Enroll and have access to an archive of lessons.</p>
  </div>
  
  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a comminuty of like-minded individuals.</p>
  </div>
</div>